.profile {
    display: flex;
    flex-direction: row;
}

.profile-user-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile-image-name {
    display: flex;
    flex-direction: column;
}

.profile-image-name img {
    width: 100px;
    height: 100px;
}

.profile-bio {
    padding: 5px;
    background-color: rgb(255, 194, 204);
    margin: 3px;
    border-radius: 5px;
}

.profile-post {
    margin: 5px;
    padding: 10px;
}

.profile-post h1 {
    font-size: larger;
}