.profile {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.profile-post {
    margin: 5px;
    padding: 10px;
}

.profile-post h1 {
    font-size: larger;
}

.middle-of-profile {
    display: flex;
    flex-direction: column;
}

.post-list-and-content {
    display: flex;
    flex-direction: row;

    
}