.all-posts-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.all-posts-page h1 {
    font-size: large;
}

.post-list-all {
    width: 100%;
}