.friends {
    padding: 20px;
}

.friends h1 {
    font-size: large;
    padding: 10px 0 10px 0;
}

.friend-item {
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 7px;

    margin: 3px;
}

.friend-item p {
    margin-left: 5px;
}

.friend-item button {
    margin-left: 10px;
}