.post-item {
    width: 90%;
    padding: 10px;
    border-bottom: 1px;
}

.post-content {
    background-color: white;
    padding: 15px;
    border-color: rgb(133, 133, 133);
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    width: 100%;
    display: block;
}

.post-content-full {
    background-color: white;
    padding: 15px;
    border-color: rgb(133, 133, 133);
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    width: 100%;
    display: block;
}

.post-content-full h1 {
    font-size: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}

.post-content p {

}

.post-content-full p {
    font-size: 85%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.post-user-details p {
    padding-left: 10px;
    font-size: small;
}

.post-info {
    font-size: 70%;
    font-style: italic;
    padding: 10px;
}

#commentCheck {
    visibility: none;
}

#commentButton {
    
}