.post-item {
    width: 90%;
    padding: 10px;
    border-bottom: 1px;

    display: flex;
    flex-direction: row;
}

.post-content-full {
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    display: block;
    font-size: medium;
}

.post-content-full h1 {
    font-size: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.post-user-details p {
    padding-left: 10px;
    font-size: small;
}

.post-info {
    font-size: 70%;
    font-style: italic;
    padding: 10px;
}

#commentCheck {
    visibility: none;
}

#commentButton {
    
}

.private-indicator {
    display: flex;
    flex-direction: row;
}

.private-indicator img {
    width: 20px;
    height: 20px;
}