.profile-post {
    margin: 20px 0 20px;
    padding: 20px;

    word-wrap: break-word;

    white-space: normal;
    word-wrap: break-word;
}

.profile-post h1 {
    padding-bottom: 5px;
}

.profile-post p {
    padding: 0 0 5px 0;
}

.post-date {
    font-size: x-small;
    font-style: italic;
}

.delete-button {
    width: 30px;
    height: 30px;
}

.delete-button img {
    height: 20px;
    width: 20px;
}