.friend-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-top: 2px;

    background-color:rgb(238, 181, 205);
}

.friend-list-item p {
    padding-left: 5px;
}

.friend-list-item img {
    width: 30px;
    height: 30px;
}