.users-list-item {
    height: 100%;
    width: 99%;
    background-color: rgb(255, 255, 255);
    margin: 5px;

    display: flex; 
    flex-direction: row;
    align-items: center;
}

#friend-icon {
    border-radius: 0;
    width: 20px;
    height: 20px;

    padding: 0 10px;
}

.user-icon {
    margin: 5px 10px;
}