.single-post {
    display: flex;
    flex-direction: column;
    background-color: crimson;
}

.single-post-content {
    background-color: rgb(125, 125, 255);
}

.single-post-content h1 {
    font-size: larger;
}

.user-and-post {
    display: flex;
    flex-direction: row;
}