.single-post {
    display: flex;
    flex-direction: column;
}

.single-post-content h1 {
    font-size: larger;
}

.user-and-post {
    display: flex;
    flex-direction: row;
}

.private-indicator {
    display: flex;
    flex-direction: row;

    align-items: center;
    font-style: italic;
}

.private-indicator img {
    width: 20px;
    height: 20px;

    padding: 5px;
}

.post {
    display: flex;
    flex-direction: column;
}

.info-section {
    font-style: italic;
}