.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page h1 {
    font-size: x-large;
}

.login-page label {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credential-error {
    color: red;
}