main {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    min-height: 80vh;
    height: auto;
    padding: 10px;

    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(192, 215, 223);

    background-color: ghostwhite;
}