img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-nav {
    display: flex;
    align-items: center;
    padding: 5px;
}

.next-to-profile-buttons {
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.next-to-profile-buttons:hover {
    background-color: aquamarine;
}

.next-to-profile-buttons img {
    border-radius: 0;
    height: 30px;
    width: 30px;
}