.edit-profile {
    display: flex;
    flex-direction: column;
}

.profile-colors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-profile-form {
    display: flex;
    flex-direction: row;
}

.profile-preview {
    margin: 20px;
    padding: 10px;
    width: 30%;

    border-radius: 10px;
}

.profile-preview-post {
    margin: 20px;
    padding: 10px;

    border-radius: 10px;
}

.profile-preview-post h1 {
    font-size: larger;
}